.App {
  font-family: sans-serif;
  text-align: center;
}

.weather {
  height: 100%;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 400px auto;
  grid-gap: 1px;
  width: 100%;
  margin: 0 auto;
}

.grid-container > div {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3vw;
}

div.liten_skrift {
  font-size: 1.8vw;
  line-height: 2;
}

div.skrift_for_avvik {
  font-size: 1vw;
  line-height: 2;
}

.grid-container > div > button {
  width: 100%;
  overflow: hidden;
  height: 39vw;
  position: relative;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 15% 15% 20% auto;
  background: white;
  grid-gap: 1px;
  padding: 1px;
  margin: 0 auto;
}

.grid-item-last {
  grid-column: 4; /* Plasser i den siste kolonnen */
  grid-row: 1 / span 2; /* Strekk over to rader */
}

.grid-container2 > div {
  background: rgb(44, 44, 44);
  text-align: center;
}

.redtext {
  color: red;
}

.black-background {
  background: rgb(130, 170, 121);
}
